/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute; /*Or relative???*/
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */ 
}
.fixed_button {
    position: absolute !important;
    margin-top: 1900px;
    bottom: auto !important;
}
.header-img {
    width: 150px;
    height: auto;
}
/*#productsBtn :hover{
    background-color: cornflowerblue;
}*/
.btnDivider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.navbar .nav-item :hover {
    background-color: cornflowerblue;
}
.log-btn {
    margin-left: 5px;
    margin-bottom: 5px;
}
.buttons {
    width: 100px;
    height: 40px;
}
.btn:focus {
    /*outline: none;*/
    box-shadow: none;
}
#logOut {
    overflow: hidden;
}

#cartbutton {
    text-decoration: none;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    margin-right: 10px;
}
#cartbtn {
    display: block;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    display: table;
    background-color: #0b1fc2;
    overflow: hidden;
}
/*#cartbutton :hover{
    background-color: lightblue;
}
#cartbtn :hover {
    background-color: lightblue;
}*/
#cartbutton:hover #cartbtn {
    background-color: darkblue;
}

#cartDec {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
@media (max-width: 574px) {
    /*#cartbutton {
        margin-left: 10px;
    }*/

    .containerHeader {
        display: flex;
        flex-direction: column;
        flex-flow: row;
    }
    .containerHeader div {
        /*display: inline-block;*/
    }
    .log-btn {
        margin-left: 0px;
        order: 1;
    }
    #product-button {
        order: 2;
    }
    #cartbutton {
        margin: 0;
        position: absolute;
        top: 80%;
        left: 57%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #cartbutton {
        /*width: 100px;
        height: 40px;*/
    }
}
/*@media (max-width: 385px){
    body {
        width: 100%;
    }
}*/
