@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="user-buttons">
            <li>
                <a id="logIn" class="btn btn-outline-info log-btn buttons nav-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profil@*@User.Identity.Name*@</a>
            </li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logOut" type="submit" class="btn btn-outline-info log-btn buttons nav-item">Logga ut</button>
                </form>
            </li>
        </div>
    }
    else
    {
        <div id="user-buttons">
            <li>
                <a id="logIn" class="btn btn-outline-info log-btn buttons nav-item" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
            </li>
            <li>
                <a class="btn btn-outline-info log-btn buttons nav-item" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
            </li>
        </div>
    }
</ul>
