@{
    ViewData["Title"] = "Home Page";
}
    <div class="container border box-shadow mb-3">
        <div class="text-center">
            <h1 class="display-4 border-bottom" style="padding-bottom: 5px">World's largest fishing site</h1>
        </div>
        <div style="text-align: center; overflow:hidden; margin:0; margin-bottom: 10px">
            <img id="homePic" src="https://usadailyexpress.com/wp-content/uploads/2020/03/Fishing-and-lockdown-Is-fishing-exercise.jpg" alt="Fishing picture">
        </div>
    </div>