@{
    ViewData["Title"] = "Home Page";
}
    <div class="container border box-shadow mb-3">
        <div class="text-center">
            <h1 class="display-4 border-bottom" style="padding-bottom: 5px">World's largest fishing site</h1>
        </div>
        <div class="homePicContainer">
            <img id="homePic" src="https://zakynthosinformer.com/wp-content/uploads/2020/04/Fishing-and-lockdown-Is-fishing-exercise.jpg" alt="Fishing picture">
        </div>
    </div>