@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 border-bottom" style="padding-bottom: 5px">World's largest fishing site</h1>
</div>
<div style="text-align: center">
    <img src="https://usadailyexpress.com/wp-content/uploads/2020/03/Fishing-and-lockdown-Is-fishing-exercise.jpg" alt="Fishing picture">
</div>
