@{
    ViewData["Title"] = "Integritetspolicy och personuppgifter";
}
<h1>@ViewData["Title"]</h1>

<p>
    De här nedtill nämnda dataskyddsanvisningar har till syfte att informera dig hur vi använder dina personuppgifter. Vi
    följer strängt bestämmelserna i dataskyddslagen samt EU:s allmänna dataskyddsförordning (GDPR).
</p>
<p>
    Vi på Fiskebutiken.se samlar in och behandlar dina personuppgifter enbart i syfte för att kunna tillhandahålla
    en funktionell tjänst. Detta sker exempelvis vid registrering, inloggning och vid beställning på vår webplats.
    Vi är skyldiga enligt lag att iakta datasekretess när vi behandlar dina personuppgifter. Du kan som kund, när
    som helst, maila oss på <a href="mailto:gdpr@fiskebutiken.se">gdpr@fiskebutiken.se</a> om du vill att vi raderar
    vissa, eller fullständiga personuppgifter om dig.
</p>
<p>
    Vi lämnar aldrig ut personuppgifter eller informartion om dig till tredje part, undantagsvis betalningstjänstföretag,
    logistikföretag och posttjänsteföretag, för att du ska kunna handla tryggt hos oss.
</p>
